.layout-default {
  width: 70vw;
  margin: 0 auto;
  padding-bottom: 30px;
}

.back-button {
  font-size: 40px;
  cursor: pointer;
}

.navbar {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 20px 20px;
  .logo {
    img {
      width: 30px;
      height: 30px;
    }
    margin-right: 20px;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      &:not(:last-child) {
        margin-right: 30px;
      }
      a {
        text-decoration: none;
        color: rgba(55, 65, 81, 1);
        padding: 6px 10px;
        border-radius: 6px;
        &:hover {
          background-color: rgba(243, 244, 246, 1);
        }
      }
    }
  }
}

.footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
